@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
:root{
    --main-color:#f88b16;
    --main-blue:#164f88;
}
*{
    /* border: 1px solid var(--main-color); */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    user-select: none;
}

body{
    background: linear-gradient(217deg, #f3eceeb2, rgb(255, 255, 255) 70.71%),
                linear-gradient(-45deg, #f50056cb, rgb(255, 255, 255) 70.71%),
                linear-gradient(217deg, #f50056cb, rgb(255, 255, 255) 70.71%);
}

.message{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 5vh;
    background-color: var(--main-blue);
    color: white;

}

/********************************************************************************** HEADER */


/********************************************************************************** PRODUCT */
.product{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0.5rem;
    width: fit-content;
    max-width: 350px;
    background-color: white;
    border-radius: 0.5rem;
    padding: 1rem;
    cursor: pointer;
}

.product_add_btn{
    background-color: var(--main-color);
    color: white;
    padding: 0.5rem;
    border-radius: 0.1rem;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
}

.product_add_btn:active{
    color: var(--main-color);
    background-color: white ;
}
.product__image{
   width: 90%;
   height: 30vh;
}
.product__image:hover{
   transform: scale(1.05);
   border-radius: 5px;
}

.product__description{
    text-align: center;
}

.product_id_hidden{
    display: none;
}
/* PRODUCT ********************************************************************************* */

/******************************************************************************************* CATEGORY */
.category{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: fit-content;
}
/* CATEGORY **************************************************************************************************/

/********************************************************************************************* side_cart */
.side_cart{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    position: fixed;
    top: 70px;
    right: 0;
    z-index: 4;
    height: 100vh;
    overflow-y: scroll;

}

/* side_cart *********************************************************************************************/

.container{
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: auto;
    margin-right: auto;
}

.btn__primary{
    background-color: var(--main-color);
    color: white;
    padding: 0.2rem 0.4rem ;
    cursor: pointer;
    font-size: 0.5rem;
    font-weight: bold;
    border: none;
}

.ml-20{
    margin-left: 1rem;
}
.mr-20{
    margin-right: 1rem;
}
.fa-solid{
    font-size: 1.5rem;
    cursor: pointer;
}


@media only screen and (min-width: 425px) {
    .container{
        max-width: 425px;
    }
    
}

@media only screen and (min-width: 680px) {
    .container{
        max-width: 680px;
    }
    
   
}

@media only screen and (min-width: 768px) {
    .container{
        max-width: 768px;
    }
    .btn__primary{
        padding: 0.4rem 0.8rem ;
        font-size: 0.8rem;
    }
}

@media only screen and (min-width: 1024px) {
    .container{
        max-width: 1024px;
    }
    .btn__primary{
        padding: 0.5rem 1rem ;
        font-size: 1rem;
    }
    
    
}
@media only screen and (min-width: 1380px) {
    .container{
        max-width: 1380px;
    }
    
}
@media only screen and (min-width: 1536px) {
    .container{
        max-width: 1536px;
    }
}



/* 
@media only screen and (min-width: 425px) {
    
}

@media only screen and (min-width: 680px) {
    
}

@media only screen and (min-width: 768px) {
    
}

@media only screen and (min-width: 1024px) {    
    
}
@media only screen and (min-width: 1380px) {
   
}
@media only screen and (min-width: 1536px) {
    
} */