.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(255, 255, 255);
    color: #333;
    position: sticky;
    top: 0;
    z-index: 1;
    height: var(--header-hight);
    /* opacity: 0.8; */
}

/********************************************* SIDENAV */

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 4rem;
}

.sidenav a {
    padding: 0.5rem 0.5rem 0.5rem 2rem;
    text-decoration: none;
    font-size: 1.3rem;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 1.5rem;
    font-size: 2.2rem;
    margin-left: 3rem;
}

/**** SIDENAV ******************************************/


/********************************************* SIDENAV_RIGHT */

.sidenav_right {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 4rem;
}

.sidenav_right a {
    padding: 0.5rem 0.5rem 0.5rem 2rem;
    text-decoration: none;
    font-size: 1.3rem;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav_right a:hover {
    color: #f1f1f1;
}

.sidenav_right .closebtn {
    position: absolute;
    top: 0;
    right: 1.5rem;
    font-size: 2.2rem;
}
/**** SIDENAV_RIGHT ******************************************/

/********************************************* HEADER_CENTER*/
.header_center_nav{
    display: none;
}
.header_center_nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    gap: 2rem;
}
.header_center_nav a{
    text-decoration: none;
    color: black;
}
/*HEADER_CENTER*********************************************/



/********************************************* HEADER_RIGHT*/

.header__right{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}

.gradient-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.2rem;
    border: none;
    text-align: center;
    text-decoration: none;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 0.5rem;
}

.a_log_in{
    color: black;
    text-decoration: none;
}

/**** HEADER_RIGHT ******************************************/



@media only screen and (min-width: 425px) {

}

@media only screen and (min-width: 680px) {
   
}

@media only screen and (min-width: 768px) {

}

@media only screen and (min-width: 1024px) {
    .sidenav, .fa-solid.fa-bars{
        display: none;
    }
    .header_center_nav{
        display: flex;
    }
}
@media only screen and (min-width: 1380px) {
    
}
@media only screen and (min-width: 1536px) {
    
}