main {
    padding: 4rem;
    background-color: #f3f1f1;

}
*{
    /* border: 1px solid red; */
}
/********************************************************************************************* all_categories */
/* .all_categories{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    overflow-x: scroll;
}
.all_categories a {
    text-decoration: none;
    color: #c9b0b0;
}
.all_categories::-webkit-scrollbar {
    width: 20px;
}

.all_categories::-webkit-scrollbar-thumb {    
    background-color: var(--main-color);
    border-radius: 2px;
}

.all_categories::-webkit-scrollbar-track {
background-color: #c9b0b0;
} */
/* all_categories *********************************************************************************************/
/********************************************************************************************* all_products */
.all_products{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem 1rem;

}

.all_products_title{
    margin-top:2.5rem;
}

/* all_products *********************************************************************************************/




