
main {
    padding: 4rem;
    background-color: #f3f1f1;

}


.all_products{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem 1rem;
}

.product{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0.5rem;
    width: fit-content;
    max-width: 350px;
    background-color: white;
    border-radius: 0.5rem;
    padding: 1rem;
}

.product__btn{
    background-color: var(--one-v);
    color: white;
    padding: 0.5rem;
    border-radius: 0.1rem;
    border: none;
    font-size: 1.2rem;
}
.product__image{
   width: 90%;
   height: 30vh;
}

.product__description{
    text-align: center;
}
